.card-price {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.card-capacity {
  position: absolute;
  right: 10px;
}
.capacity-container {
  display: flex;
  flex-flow: row;
}

.card-container {
  position: relative;
}

.listed-spaces-page {
  margin: 150px 200px 50px 200px;
}
.sort-buttons {
  flex-flow: row;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
}

/* .footer-container {
  /* fix me */
