.card-price {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.card-capacity {
  position: absolute;
  right: 10px;
}
.capacity-container {
  display: flex;
  flex-flow: row;
}

.card-container {
  position: relative;
}

.listed-spaces-page {
  margin-left: 100px;
  margin-top: 150px;
  margin-bottom: 50px;
}
.sort-buttons {
  flex-flow: row;
  padding: 10px;
  display: flex;
  gap: 10px;}



/* .footer-container {
  /* fix me */
